
name: Validate

on:
  push:
    # Always run when there are new commits
    branches:
      - '**'
  # Always run when there are pull requests
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Validate on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.14.1'

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: go test
      - run: go build ./cmd/desync
